.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form-r {
  margin: 20px;
  /* width: 400px; */
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-container-vertical {
  display: flex;
  flex-direction: column;
}

.tweet-text {
  font-size: large;
  margin: 25px 0px 25px;
}

.tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name-container {
  margin-left: 10px;
}

.filter-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filter-item {
  margin: 10px;
}
.search {
  width: auto;
}

.sort {
  margin-top: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
